@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&family=Righteous&family=Russo+One&family=Shojumaru&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  font-family: 'Russo One', sans-serif;
}

.language {
  @apply text-sm sm:text-lg text-right uppercase cursor-pointer;
}

.textarea {
  @apply w-full h-48 max-[392px]:h-44 max-[392px]:text-sm resize-none bg-[#151515] shadow-md shadow-black rounded-lg px-4 py-2 font-righteous font-light leading-5;
}
